   <div id="Collections" class="jumbotron">
    <div class="container">
      <h2>Collection Gallery</h2>
    </div>
  </div>
  <div class="container">
  <!--/.collages -->
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <article class="thumbnail" >
            <img src="samplecollages/SpringInYourStep.jpg" width="200" alt="">
            <div class="caption">
             <h3>Spring in Your Step</h3>
              <p></p>
              <p><a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </article>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <article class="thumbnail">
            <img src="samplecollages/KneeHighSocks.jpg" width="200" alt="">
            <div class="caption">
             <h3>Knee High Socks</h3>
              <p></p>
              <p><a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </article>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <article class="thumbnail">
            <img src="samplecollages/LittleWhimsFinal.jpg" width="200" alt="">
            <div class="caption">
               <h3>Foxfields and Gelato</h3>
              <p></p>
              <p><a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </article>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <article class="thumbnail">
            <img src="samplecollages/LittleWhimsFinal.jpg" width="200" alt="">
            <div class="caption">
               <h3>Foxfields and Gelato</h3>
              <p></p>
              <p><a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </article>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <article class="thumbnail">
            <img src="samplecollages/LittleWhimsFinal.jpg" width="200" alt="">
            <div class="caption">
               <h3>Foxfields and Gelato</h3>
              <p></p>
              <p><a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </article>
        </li>
      </ul>
    </div>
 </div>

  <div id="Products" class="jumbotron">
    <div class="container">
      <h2>Product Gallery</h2>
    </div>
  </div>
  <div class="container">
  <!--/.items -->
    <div class="row-fluid">
      <ul class="thumbnails">
      	<% @prod = Product.all %>
      	<% @prod.each do |pro| %>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <article class="thumbnail">
          	<%= image_tag(@prod.find(pro).picture, :width => "200px", :alt => @prod.find(pro).name) %> 
            <div class="caption">
             <h3><%= @prod.find(pro).name %></h3>
              <p><%= @prod.find(pro).name %></p>
              <p><a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </article>
        </li>
        <% end %>
      </ul>
    </div>
</div>
<div id="Publishers" class="jumbotron">
    <div class="container">
      <h2>Publisher Gallery</h2>
    </div>
</div>