   <div id="Collections" class="jumbotron">
    <div class="container">
      <h2>Collection Gallery</h2>
    </div>
  </div>
  <div class="container">
  <!--/.collages -->
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <article class="thumbnail" >
            <img src="samplecollages/SpringInYourStep.jpg" width="200" alt="">
            <div class="caption">
             <h3>Spring in Your Step</h3>
              <p></p>
              <p><a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </article>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <article class="thumbnail">
            <img src="samplecollages/KneeHighSocks.jpg" width="200" alt="">
            <div class="caption">
             <h3>Knee High Socks</h3>
              <p></p>
              <p><a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </article>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <article class="thumbnail">
            <img src="samplecollages/LittleWhimsFinal.jpg" width="200" alt="">
            <div class="caption">
               <h3>Foxfields and Gelato</h3>
              <p></p>
              <p><a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </article>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <article class="thumbnail">
            <img src="samplecollages/LittleWhimsFinal.jpg" width="200" alt="">
            <div class="caption">
               <h3>Foxfields and Gelato</h3>
              <p></p>
              <p><a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </article>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <article class="thumbnail">
            <img src="samplecollages/LittleWhimsFinal.jpg" width="200" alt="">
            <div class="caption">
               <h3>Foxfields and Gelato</h3>
              <p></p>
              <p><a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </article>
        </li>
      </ul>
    </div>
 </div>

  <div id="Products" class="jumbotron">
    <div class="container">
      <h2>Product Gallery</h2>
    </div>
  </div>
  <div class="container">
  <!--/.items -->
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <article class="thumbnail">
            <img src="sampleproducts/pinkheartsweater.jpg"width="200" alt="">
            <div class="caption">
             <h3>Red Button Down</h3>
              <p>red, the blood of angry men</p>
              <p><a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </article>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <article class="thumbnail">
            <img src="sampleproducts/BenAmun.jpg" width="200" alt="">
            <div class="caption">
             <h3>Orange Paisley Dress</h3>
              <p>such wow</p>
              <p><a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </article>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <article class="thumbnail">
            <img src="sampleproducts/DavidAubrey.jpg" width="200" alt="">
            <div class="caption">
               <h3>Orange Leather Skirt</h3>
              <p>because orange</p>
              <p><a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </article>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <article class="thumbnail">
            <img src="sampleproducts/ring1.jpg" width="200" alt="">
            <div class="caption">
             <h3>Ring 1</h3>
              <p>Shiny!!!</p>
              <p><a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </article>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <article class="thumbnail">
            <img src="sampleproducts/ring2.jpg" width="200" alt="">
            <div class="caption">
             <h3>Ring 2</h3>
              <p>OMG pants!</p>
              <p><a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </article>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <article class="thumbnail">
            <img src="sampleproducts/cross.jpg" width="200" alt="">
            <div class="caption">
             <h3>Orange Stone Necklace</h3>
              <p>nicy nice</p>
              <p><a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </article>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <article class="thumbnail">
            <img src="sampleproducts/RedButtonDown.jpg" width="200" alt="">
            <div class="caption">
             <h3>Red Shirt</h3>
              <p>squeeqy clean</p>
              <p><a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </article>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <article class="thumbnail">
            <img src="sampleproducts/turquoisebracelets.jpg" width="200" alt="">
            <div class="caption">
             <h3>Turquoise Bracelets</h3>
              <p></p>
              <p><a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </article>
        </li>
      </ul>
    </div>
</div>
<div id="Publishers" class="jumbotron">
    <div class="container">
      <h2>Publisher Gallery</h2>
    </div>
</div>